@font-face {
  font-family: "Open Sans";
  src: url("./OpenSans-Regular.ttf");
}
* {
  font-family: "Open Sans";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px #efefef;
    border-radius: 10px;
    color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--theme);
    border-radius: 10px;
  }
}
body {
  overflow-x: hidden;
}
:root {
  --theme: #313d2f;
  --active: #728c6b;
}
header.navbar {
  position: fixed;
  transform-style: preserve-3d;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eee;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-weight: bolder;
    font-size: 20px;
    li {
      cursor: pointer;
      transition: 0.3s;
      color: var(--theme);
      &:hover {
        color: var(--active);
      }
    }
  }
  &>#logo{
    width: 140px;
    margin-left: 37px;
    object-fit: contain;
  }
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#accueil {
  margin-top: 150px;
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 0 5px #777777;
    border-radius: 7px;
    h2 {
      color: var(--theme);
      font-size: 2rem;
    }
    h3 {
      font-size: 25px;
    }
    p {
      font-size: 20px;
    }
    p > span {
      cursor: pointer;
      color: blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
div#alert {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.row-div {
  display: flex;
  flex-direction: row;
}
#list,#cours{
  margin-top: 150px;
}
.col-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > input {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 17px;
    border: solid 1px var(--theme);
    border-radius: 5px;
    outline-color: var(--active);
  }
  & > label {
    font-size: 15px;
    font-weight: bold;
  }
}
.underline {
  cursor: pointer;
  color: blue;
  &:hover {
    text-decoration: underline;
  }
}
.nav-btn {
  color: white;
  font-weight: bolder;
  padding: 10px 15px;
  background: var(--active);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background: var(--theme);
  }
}
div#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#dialog {
  position: fixed;
  top: 0;
  left: 0;
  .dialog-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba($color: #000000, $alpha: 0.5);
      z-index: 1;
    }
    .dialog-content {
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0px 20px rgb(68, 68, 68);
      border-radius: 7px;
      padding: 20px;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 300px;
      max-height: 70vh;
      overflow-y: auto;
      transform: translate(-50%, -50%);
      z-index: 2;
      .dialog-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
}
.wrapper > div.parallax {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  & > img.background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translateZ(-10px) scale(2);
  }
  &>h1{
    text-shadow: 0 0 5px black;
    color:  white;
    font-size:4rem;
    margin-top: 250px;
  }
}
.wrapper > div.content-div {
  width: 100%;
  background-color: #eee;
  transform-style: preserve-3d;
  padding: 20px;
}
.grid{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 300px;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
  transition: 0.3s;
  cursor: pointer;
  img{
    width: 100%;
  }
  &>div{
    padding: 10px;
  }
  &:hover{
    box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.5);
  }
}
#notFound{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1{
    font-size: 25px;
    color: #313d2f;
  }
}
@media screen and (max-width: 1300px) {
  #accueil {
    width: 90%;
    flex-direction: column;
    margin-top: 250px;
  }
  #list, #cours{
    margin-top: 250px;
  }
}
@media screen and (max-width: 500px) {
  header > ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    justify-content: center;
  }
}
